@model WebTemperature.Models.LoginViewModel

<form asp-action="Index" method="post" name="form1">
    Inserisci una temperatura in Fahrenheit: <input type="text" name="Fahrenheit" /><br />
    <input type="submit" value="Scopri!" />
</form>

@ViewBag.Messaggio

